<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>Controller.AboutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OurServlet</servlet-name>
        <servlet-class>Controller.OurServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>Controller.CourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcademicServlet</servlet-name>
        <servlet-class>Controller.AcademicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>About1Servlet</servlet-name>
        <servlet-class>About1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cuAbout1Servlet</servlet-name>
        <servlet-class>Controller.About1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Course1Servlet</servlet-name>
        <servlet-class>Controller.Course1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutServlet1</servlet-name>
        <servlet-class>Controller.AboutServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutServlet2</servlet-name>
        <servlet-class>Controller.AboutServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OurServlet2</servlet-name>
        <servlet-class>Controller.OurServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/AboutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OurServlet</servlet-name>
        <url-pattern>/OurServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/CourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcademicServlet</servlet-name>
        <url-pattern>/AcademicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>About1Servlet</servlet-name>
        <url-pattern>/About1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cuAbout1Servlet</servlet-name>
        <url-pattern>/cuAbout1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Course1Servlet</servlet-name>
        <url-pattern>/Course1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutServlet1</servlet-name>
        <url-pattern>/AboutServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutServlet2</servlet-name>
        <url-pattern>/AboutServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OurServlet2</servlet-name>
        <url-pattern>/OurServlet2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
